<!-- forms using talilvin css componentes -->

<!-- https://tailwindcss.com/components/forms   :- get form from hear and modified it -->

<section class="login flex justify-center pt-24">
  <div class="w-full max-w-xs">
    <form action="/register" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

      <!-- flash ma je jetali error hoi te bathi messages namna obj ma store thai 
            messages.key lakho aate je error store kari hoi te male (key flash create karti vakhate aapeli hoi)
          -->
      <% if(messages.error) { %>
        <span class="text-red-500 text-sm">
          <%= messages.error %>
        </span>
        <% } %>

          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
              Name
            </label>
            <!-- value="<%= messages.name %>" jo aak filed khali hoi add error aave to baki ne feild no data remove na thai te mate  -->
            <input name="name" value="<%= messages.name %>"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline rounded-full"
              id="username" type="text" placeholder="Enter Your name">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
              Email
            </label>
            <input name="email" value="<%= messages.email %>"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline rounded-full"
              id="username" type="email" placeholder="Enter Your Email">
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
              Password
            </label>
            <input name="password"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline rounded-full"
              id="password" type="password" placeholder="**********">

          </div>
          <div class="flex items-center justify-between">
            <button
              class="btn-primary rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit">
              Register
            </button>
            <a class="inline-block align-baseline font-bold text-sm" href="/login">
              Already have account?
            </a>
          </div>
    </form>
    <p class="text-center text-gray-500 text-xs">
      &copy;2020 code with me. All rights reserved.
    </p>
  </div>
</section>